{% extends 'emails/clean.html' %}

{% block title %}
    Hi {{ user.first_name }}
{% endblock %}

{% block content %}
<p></p>
Welcome to <a href="http://breta.com" target="_blank">Breta</a>, a place to easily create custom apps and websites at a flexible cost. 
<p></p>
What you can expect:<br>
- Everyone gets a free custom blueprint. No credit card necessary.<br>
- Our intelligent platform guides and manages your project. Stress-free.<br>
- Access to a concierge who guarantees your project, on both quality and reliability.<br>
<p>&nbsp;</p>
We're excited to learn about your ideas. Drop us a line at any time by replying to this email.<br>
-The Breta team
<p></p>
P.S. Our price match promise will match a quoted price from any agency. We won't be beat!
{% endblock %}
