{% extends 'emails/base.html' %}

{% block title %}
    Hi {{ user.first_name }}
{% endblock %}

{% block content %}
Welcome to Breta, a place to easily create custom apps and websites at a flexible cost. 

What you can expect
- Everyone gets a free custom blueprint. No credit card necessary.
- Our intelligent platform guides and manages your project. Stress-free.
- You'll get a dedicated concierge who's with you every step of the way.
- We guarantee there's no need to worry about quality or reliability.


Thanks for joining, drop us a line any time.
-The breta team

P.S. Our price match promise will match a quoted price from any agency. We won't be beat!
{% endblock %}
