{% extends 'emails/base.html' %}

{% block title %}
    Hi {{ project.user.first_name }},
{% endblock %}

{% block content %}
Welcome to Breta, a place to easily create custom apps and websites at a flexible cost. 

What you can expect
- Everyone gets a free custom blueprint. No credit card necessary.
- Our intelligent platform guides and manages your project. Stress-free.
- You'll get a dedicated concierge who's with you every step of the way.
- We guarantee there's no need to worry about quality or reliability.

Your free blueprint has been added to the queue, and you should receive it from your concierge in 48 hours.

<p>You can access your project by <a href="{{ project.get_absolute_url }}">clicking here</a>.</p>


Thanks for joining!
-The breta team

P.S. Our price match promise will match a quoted price from any agency. We won't be beat!
{% endblock %}
